table {
    border-collapse: collapse;
    padding: 5px;
}

.calendar {
    margin: 10px;
    empty-cells: show;
}

thead {
    /*border: 1px solid black;*/
}

th {
    background-color: lightgrey;
    color: black;
    text-align: center;
    font-weight: bold;

}

td {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black ;
    padding: 5px;
}

.diena {
    color: grey;
    font-weight: bold;
}

h1 {
    text-align: center;
}


.pagrindinis {
}

