table {
    border-collapse: collapse;
    padding: 5px;
    margin: auto;
}
td {
    padding: 10px;
}
th {
    background-color: lightgrey;
    color: black;
    text-align: center;
    font-weight: bold;
}

.calendar td {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black ;
    padding: 5px;
}

.diena {
    color: grey;
    font-weight: bold;
}

h1 {
    text-align: center;
}



